:root {
  font-size: 62.5%; /* 1rem = 10px */
  --body-bg-color: #faf7fd;
  --purple: #bb99dd;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: var(--body-bg-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 20rem;
}

@media (max-width: 768px) {
  .container {
    margin-bottom: 15.5rem;
    margin-top: 12.6rem;
  }
}

img {
  display: block;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: 0.35rem solid #fff;
  outline: 2px solid var(--purple);
}

p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;
  /* identical to box height */

  text-align: center;

  color: var(--purple);
}

button {
  cursor: pointer;

  border: 2px solid var(--purple);
  border-radius: 4px;

  background: inherit;

  margin-bottom: 1.6rem;
}

button a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 32.6rem;
  height: 4.9rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  /* identical to box height */

  text-transform: uppercase;

  color: var(--purple);
}

@media (max-width: 375px) {
  button a {
    width: 28rem;
  }
}

@media (max-width: 322px) {
  button a {
    width: 26rem;
  }
}

ul {
  margin: 5.2rem 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 2.9rem;
}

ul li img {
  width: 2.4rem;
  height: 2.4rem;
}
