:root {
  font-size: 62.5%; /* 1rem = 10px */
  --body-bg-color: #faf7fd;
  --purple: #bb99dd;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: rgba(0, 0, 0, .8);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.2rem;
  justify-content: center;
}

@media (max-width: 768px) {
  .container {
    margin-bottom: 15.5rem;
    margin-top: 12.6rem;
  }
}

img.outlined {
  display: block;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: 0.35rem solid #fff;
  outline: 2px solid var(--purple);
}

p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: bold;

  text-align: center;

  color: var(--purple);
}

button {
  cursor: pointer;

  border: 2px solid var(--purple);
  border-radius: 8px;

  background: inherit;

  margin-bottom: 1.6rem;
  padding: 0;
  overflow: hidden;
  transition: all ease .3s;
}

button:hover, button a:hover {
  border-color: rgb(100, 50, 100);
  color: rgb(10, 20, 30);
  background: var(--purple);
}

button a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 32.6rem;
  height: 4.9rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  /* identical to box height */

  text-transform: uppercase;

  color: var(--purple);
}

@media (max-width: 375px) {
  button a {
    width: 28rem;
  }
}

@media (max-width: 322px) {
  button a {
    width: 26rem;
  }
}

ul.footer {
  margin: 5.2rem 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 2.9rem;
  border: 0;
}

ul.footer li {
  width: 3.2rem;
  height: 3.2rem;
  border: 0;
}

ul.footer li a {
  border: 0;
}

ul.footer li img {
  width: 100%;
  height: auto;
  border: 0;
}
